<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tariff.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @tariff.value %>
</p>

<%= link_to 'Edit', edit_tariff_path(@tariff) %> |
<%= link_to 'Back', tariffs_path %>
