<%= form_with(model: parking, local: true) do |form| %>
  <% if parking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parking.errors.count, "error") %> prohibited this parking from being saved:</h2>

      <ul>
      <% parking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :parking_name %>
  </div>

  <div class="field">
    <%= form.label :addres %>
    <%= form.text_field :addres, id: :parking_addres %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :parking_phone %>
  </div>

  <div class="field">
    <%= form.label :quota %>
    <%= form.text_field :quota, id: :parking_quota %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
