<p id="notice"><%= notice %></p>

<p>
  <strong>Plate:</strong>
  <%= @vehicle.plate %>
</p>

<p>
  <strong>State:</strong>
  <%= @vehicle.state %>
</p>

<p>
  <strong>Client:</strong>
  <%= @vehicle.client_id %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
